.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  text-align: center;
}
.App-sketch{
  text-align: center;
}

.App-nav{
  text-align: right;
  width: 99%;
  height: 40px;
  background-color: #2f2f2f;
  color: white;
  padding: 10px;

}

.App-nav button{
  margin: 10px;
}
.drawing{
  margin: 0 auto;
  border: 20px solid tomato;
  border-radius: 25px;
  width: 500px;
  height: 300px;
}
.Canvas-style{
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  border-radius: 25px;

}
img{
  border: 2px solid black;
  display: block;
  width: 250px;
  height: 150px;
}

.Canvas-Images{
  display: inline-block;
  margin: 5px;
}
.Canvas-btn{
  margin: 0 auto;
  text-align: center;
}

.LogIn-Canvas{
  display: inline-block;
}
.sign-up{
  display: inline-block;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
